body {
    font-family: serif;
}

.no-style {
    text-decoration: none;
    color: currentColor;
}

.navbar {
    padding-left: 5vh;
    padding-right: 3vh;
    font-size: 1.5rem;
    font: ;
}

.navbar-brand {
    font-size: 2rem;
    padding-right: 1cm;
    font-weight: bold;
}

.box {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.514); */
    border-radius: 1rem;
}

.heading>h2 {
    font-weight: bold;
    font-size: 50px;
    }

.text{
    font-size: 27px;
}

.big-text{
    /* font-size: 50px; */
    color: wheat !important;
}