body {
    font-family: serif;
}

.no-style {
    text-decoration: none;
    color: currentColor;
}

.navbar {
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 2rem;
    padding-right: 1cm;
    font-weight: bold;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.514); */
    border-radius: 1rem;
}

.heading>h2 {
    font-weight: bold;
    /* font-size: 50px; */
}

.text {
    font-size: 28px;
}

.big-text {
    color: wheat !important;
}

.info {
    color: gray !important;
}

@media (max-width: 991px) {
    .text {
        font-size: 35px;
    }

    .big-text {
        font-size: 59px;
    }

    .welcome {
        font-size: 60px;
        padding-left: 10px;
        /* margin-left: 15px; */
    }

    .button {
        height: 6rem;
        width: 13rem;
        border-radius: 18px;
    }

    body>nav>div>button {
        height: 80px;
        margin-right: 10px;
    }

    .navbar-toggler-icon {
        width: 65px;
        height: 55px;
        margin-right: 10;
    }

    span.button-text {
        font-size: 40px;
    }

    img.foot-button {
        height: 40px;
        background-color: aliceblue;
        border-radius: 7px;
        padding: 2px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .nav-text {
        font-size: 35px;
    }
}
